apiVersion: v1
appVersion: 2.4.1
description: A Helm chart to help backup MySQL databases using mysqldump
name: mysqldump
version: 3.0.0
keywords:
- mysql
- mysqldump
- backup
home: https://www.mysql.com/
icon: https://www.mysql.com/common/logos/logo-mysql-170x115.png
sources:
- https://github.com/kubernetes/charts
- https://dev.mysql.com/doc/refman/5.7/en/mysqldump.html
maintainers:
- name: monotek
  email: monotek23@gmail.com
- name: axdotl
  email: axel.koehler@kiwigrid.com
