# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/charts/fluentd-elasticsearch @monotek

## changes to CODEOWNERS should be reviewed by repository admins
/CODEOWNERS @helm-charts-admins
