{{- if and (.Values.upload.s3.enabled) (not .Values.upload.s3.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ template "mysqldump.fullname" . }}-s3-secretkey"
  labels:
    {{- include "mysqldump.labels" . | nindent 4 }}
type: Opaque
data:
  S3_SECRET_KEY: {{ .Values.upload.s3.secretkey | b64enc | quote }}
{{ end }}

